*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: hsl(212, 45%, 89%);
}
.container {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.card-container {
    width: 320px;
    height: 480px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
  }

.card-container img {
    width: 100%;
    height: 62%;
    border-radius: 16px;
}
.card-info {
  text-align: center;
  padding-top: 12px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--Dark-blue);
}
.description {
  padding-top: 12px;
  font-size: 15px;
  font-weight: 400;
  color: var(--Grayish-blue);
}
.attribution {
  text-align: center;
}
@media (min-width:1440px){
  body{
      padding: 152px;
  }
}